.chat {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

.chat-messages {
    height: 200px;
    background-color: var(--text-dark);
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 5px;
}

.chat-input button {
    padding: 5px 10px;
}