.header-container {
    
}

.header-container .section-contaier {

}
.header-container .button-container-header {

}
.header-container .button-container-header button {
    
}

.avatar {
    border-radius: 100%;
    width: 50px;
    margin-right: 10px;
}

.header-user-info {
    color: var(--text-dark);
}