@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

@font-face {
  font-family: sansationBold;
  src: url(assets/Sansation_Bold.ttf);
}
@font-face {
  font-family: sansationRegular;
  src: url(assets/Sansation_Regular.ttf);
}
@font-face {
  font-family: sansationLight;
  src: url(assets/Sansation_Light.ttf);
}

* {
  border: 0;
  margin: 0;
  font-family: sansationBold;

  --main-bg-dark: #222B5A;
  --secondary-bg-dark: #243D6D;
  --main-element-dark: #2A5B80;
  --secondary-element-dark: #fff;
  --text-dark: #fff;
  --text-input-dark: #A3B3C1;

  --main-bg-light: #3C7FA5;
  --secondary-bg-light: #96CED6;
  --main-element-light: #CFDBDC;
  --secondary-element-light: #143248;
  --text-light: #143248;
  --text-input-light: #A3B3C1;
}

body {
  background-color: var(--main-bg-dark);
}

.bg-snow-inner {
  width: 100%;
  height: 100%;
  margin: auto;
  vertical-align: middle;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

.button-main {
  background-color: var(--main-element-dark);
  display: block;
  color: var(--text-dark);
  font-size: 24px;
  height: 50px;
  width: 180px;
  border-radius: 10px;
  transition: ease 0.1s;
}

.button-main:hover {
  background-color: var(--main-bg-light);
}

.section-container {
  background-color: var(--secondary-bg-dark);
  height: inherit;
  width: 410px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.text-input-container, .select-input-container {
  width: 80%;
}

.text-input-container input, .select-input-container select{
  font-family: sansationLight;
  display: block;
  font-size: 24px;
  height: 50px;
  background-color: var(--main-element-dark);
  border-radius: 10px;
  margin: 20px;
  padding: 0 20px;
  color: var(--secondary-element-dark);
}

.text-input-container input::placeholder, .select-input-container select {
  color: var(--text-input-dark);
}