@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

@font-face {
  font-family: sansationBold;
  src: url(assets/Sansation_Bold.ttf);
}
@font-face {
  font-family: sansationRegular;
  src: url(assets/Sansation_Regular.ttf);
}
@font-face {
  font-family: sansationLight;
  src: url(assets/Sansation_Light.ttf);
}

* {
  border: 0;
  margin: 0;
  font-family: sansationBold;
}

:root {
  --main-bg-dark: #222B5A;
  --secondary-bg-dark: #243D6D;
  --main-element-dark: #2A5B80;
  --secondary-element-dark: #fff;
  --text-dark: #fff;
  --text-input-dark: #A3B3C1;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --btn_hover: #3C7FA5;
}

[data-theme = "light"] {
  --main-bg-dark: #3C7FA5;
  --secondary-bg-dark: #69c2d0;
  --main-element-dark: #acf5fa;
  --secondary-element-dark: #143248;
  --text-dark: #112a3b;
  --text-input-dark: #A3B3C1;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --btn_hover: #e2feff;
}

.theme-switch {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-dark);
}

.main-container {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  background-color: var(--secondary-bg-dark);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px 35px;
}

