.add-new-element-container {
    background-color: var(--main-element-dark);
    width: 300px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-new-element-container img {
    height: 30px;
}