/* MainSection.css */
.main-section-container {
  width: 100%;
}

.main-section-container h2 {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 36px;
}

.main-section-games,
.main-section-wishlist {
  width: 95%;
  background-color: var(--secondary-bg-dark);
  color: var(--text-dark);
  margin: 10px auto;
  border-radius: 20px;
}

.main-section-game-elements,
.main-section-wishlist-elements {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.slick-slide div {
  display: flex;
  justify-content: center;
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  color: var(--text-input-dark) !important;
}
  
