.game-id {
    padding: 15px;
    background-color: var(--secondary-bg-dark);
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-id:hover {
    background-color: #444;
}

.game-id.copied {
    background-color: #2ecc71;
    color: white;
}

.game-id h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.game-id p {
    font-size: 16px;
    font-weight: bold;
    color: #f39c12;
    transition: color 0.3s;
}

.game-id:hover p {
    color: #f1c40f;
}
